html{
    margin: 0;
    background-image: url('https://img.freepik.com/free-photo/experiment-biotechnology-with-chemistry-science_23-2150365003.jpg?w=740&t=st=1705061557~exp=1705062157~hmac=a69de9b7d20e34f794462903d61fd910d4f165e9faafff7d2ff92e7e41c2f3af');
    background-size: cover;
}
h2{
    text-align: center;
    text-decoration: underline;
   }
   form{
    display: table;
   }

.container{
    margin-left: 50px;
    text-align: center;
    border: 3px solid black;
    background: rgba(64, 224, 208, 0.584);
    width: 50%;
    height: 430px;
}
#pj{
    display: table-row;
    gap: 10px;
} 
label{
    display: table-cell;
}
input{
    background-color: rgba(128, 128, 128, 0.333);  
    display: table-cell; 
}
button{
    border-radius: 10px;
    background-color: rgba(0, 53, 128, 0.683);
    border: 2px solid black;
    width: 100px;
    height: 30px;
    position: relative;
    left: 180px;  
}
button:hover{
   background-color: rgb(92, 4, 4);
}
#weight-guide {
    position: relative;
    margin-left: 650px;
    margin-top: -460px;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
   /* white-space: nowrap;*/
}
#result {
    position: fixed;
    font-size: 20px;
    left: 90px;
    margin-top: 20px;
    color: rgb(197, 10, 10);
}
#result2 {
    font-size: 20px;
    position: fixed;
    left: 90px;
    margin-top: 20px;
    color: rgb(197, 10, 10);
}
h3{
    text-decoration: underline;
}